<h1> Let's play "Rock, Paper, Scissors" </h1>

<p>A player who decides to play rock will beat another player who has chosen scissors, but will lose to one who has played paper; a play of paper will lose to a play of scissors. If both players choose the same shape, the game is tied. Put your choices into the address bar</p>
